@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

body {
  font-family: "Kanit" sans-serif;
}

:root {
  --primary-white: #fff;  
  --primary-yellow: #ffffff; 
}
.profile {
  width: 80px;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  color: darkgray;
}

.navbar-nav > li > a 
{
  color: var(--primary-white) !important;
}

.name {
  color: rgb(173, 248, 133); /* Set the desired color value */
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border: 5px solid var(--primary-yellow);
}
.navbar-nav > li > a:hover {
  border: 5px solid var(--primary-yellow);

}
i{
  font-size: 40px;
}
